:root{
    --dark-text:#f8fbff;
    --light-body:#f3f8fe;
    --font-family:consolas;
    --white:#fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    place-items: center;
    font-family: var(--font-family);
    background: linear-gradient(to right,#9796f0,#fbc7d4);
    overflow: hidden;
}

.container{
    width: max-content;
    height: max-content;
    position: relative;
    display: flex;
    padding: 2% 0px 0px 0px;
    justify-content: center;
    top: 10%;
    right: 0%;
    width: 100%;
    height: 100%;
}

.calender{
    height: 610px;
    width: max-content;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    padding: 30px 50px 0px 50px;
    box-shadow:var(--shadow) ;
}

.calender-header{
    background: #9796f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: var(--white);
    padding: 10px;
}

.calender-body{
    pad: 10px ;
}


